<div class="container-fluid">
     <div class="animated fadeIn">
          <div class="row">
            <h1>Editar Grado</h1>
            <%= render 'form', grade: @grade %>
         </div>
    </div>
</div>