<div class="animated fadeIn">    
    <div class="row">            
        <div class="col-sm-12 col-md-12">
        </div>
    </div>
    <div class="row">      
        <p class="notice"><%= notice %></p>
        <div class="col-sm-4 col-md-12">
            <div class="card card-inverse card-primary text-xs-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p>
                            <h1>Bienvenido a Control Escolar</h1>
                            <strong>Control escolar</strong> es una herramienta para profesores en la cual pueden gestionar sus grupos de clases y las calificaciones de sus alumnos.
                        </p>                        
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-sm-4 col-md-6">
            <div class="card card-inverse card-primary">
                <div class="card-header">
                    Alumno
                </div>
                <div class="card-block">
                    Gestión de alumnos individuales, datos personales, datos del tutor.
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-6">
            <div class="card card-inverse card-primary">
                <div class="card-header">
                    Grupos
                </div>
                <div class="card-block">
                    Gestion de grupos, un mismo alumno puede estar en varios grupos.
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-6">
            <div class="card card-inverse card-primary">
                <div class="card-header">
                    Calificaciones
                </div>
                <div class="card-block">
                    Registra las calificaciones por grupos.
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-6">
            <div class="card card-inverse card-primary">
                <div class="card-header">
                    Reportes
                </div>
                <div class="card-block">
                    Genera reportes listos para imprimir.
                </div>
            </div>
        </div>
    </div>
</div>
