<div class="container-fluid">
     <div class="animated fadeIn">
          <div class="row">
            <h1>Nuevo Periodo</h1>
            <%= render 'form', period: @period %>
         </div>
    </div>
</div>
