<div class="container-fluid">
     <div class="animated fadeIn">
          <div class="row">
            <h1>Editar Alumno</h1>
            <%= render 'form', student: @student %>
         </div>
    </div>
</div>