<div class="container-fluid">
     <div class="animated fadeIn">
          <div class="row">
            <h1>Nuevo Grupo</h1>
            <%= render 'form', group: @group %>
         </div>
    </div>
</div>