<div class="container-fluid">
     <div class="animated fadeIn">
          <div class="row">
            <h1>Nuevo Materia</h1>
            <%= render 'form', subject: @subject %>
         </div>
    </div>
</div>
