<header class="navbar">
    <div class="container-fluid">                
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
            </li>
        </ul>        
        <ul class="nav navbar-nav pull-right hidden-md-down">                                
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-   expanded="false">
                <% if user_signed_in? %>
                     <%= image_tag "4.jpg", class: "img-avatar", alt: ""+current_user.email %>
                    <span class="hidden-md-down">:)</span>
                <%else%>
                    <%= image_tag "default.jpg", class: "img-avatar", alt: "inicia sesión"%>
                    <span class="hidden-md-down">:(</span>
                <%end%>
                </a>  
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-xs-center">
                        <strong>Cuenta</strong>
                    </div>
                     <% if user_signed_in? %>
                        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i>editar</a>                        
                        <%=link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do%>
                            <i class="fa fa-user"></i> Cerrar sesión</a>
                        <%end%>
                    <%else%>
                        <%=link_to new_user_session_path, class: "dropdown-item" do%>
                            <i class="fa fa-user"></i> Iniciar Sessión</a>
                        <%end%>
                    <%end%>
                </div>
            </li>
        </ul>
    </div>
</header>

